.clip-path-group10,
.clip-path-group11,
.mask-group-icon,
.vector-icon2 {
  position: absolute;
  height: 99.82%;
  width: 99.82%;
  top: 0.09%;
  right: 0.09%;
  bottom: 0.09%;
  left: 0.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group10,
.clip-path-group11,
.mask-group-icon {
  height: 102.5%;
  width: 144.14%;
  top: 0.8%;
  right: -44.14%;
  bottom: -3.3%;
  left: 0;
}
.clip-path-group10,
.clip-path-group11 {
  height: 30.62%;
  width: 19.84%;
  top: 6.11%;
  right: 60.94%;
  bottom: 63.27%;
  left: 19.22%;
  object-fit: cover;
}
.clip-path-group11 {
  height: 27.43%;
  width: 12.94%;
  top: 69.07%;
  right: 14.79%;
  bottom: 3.5%;
  left: 72.27%;
}
.beige-natural-botanical-skinca3 {
  position: relative;
  width: 100%;
  height: 999px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .beige-natural-botanical-skinca3 {
    width: 1400px;
    height: 999px;
  }
}
